.git
.github
.vscode
node_modules
vendor
bootstrap/cache/*
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
database/*.sqlite
database/*.sqlite-journal
tests
.env
.phpunit.result.cache
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log
yarn-debug.log
yarn-error.log
public/build
